@import '../public/css/main.css';
@import '../public/css/child-style.css';
.head-ul li:nth-child(3)::after{
    animation: wid .5s linear;
    width: 100%;
}
@keyframes wid {
    0%{width: 0;}
    100%{width: 100%;}
}
.Product img{
    display: block;
    width: 100%;
}
.same{
    margin: 0 auto;
    width: 1200px;
}
.subNav{
    margin-bottom: 60px;
    border-bottom: 1px solid #ddd;
}
.subNav ul{
    display: flex;
}
.subNav ul li{
    width: 33.333333333%;
}
.subNav ul li a{
    color: #666;
    font-size: 14px;
    text-align: center;
    line-height: 60px;
}
.subNav ul li a.aft{
    color: #1f3379;
    font-size: 14px;
    text-align: center;
    line-height: 60px;
}
.subNav ul li a::after{
    content: '';
    margin: 0 auto;
    display: block;
    width: 0;
    border-bottom: 3px solid #1f3379;
    transition: all .5s;
}
.subNav ul li a.aft::after{
    content: '';
    display: block;
    width: 100%;
    border-bottom: 3px solid #1f3379;
}
.subNav ul li a:hover{
    color: #1f3379;
}
.subNav ul li a:hover::after{
    width: 100%;
}
.same h3{
    font-size: 28px;
    color: #1f3278;
    font-style: italic;
    margin-bottom: 50px;
    font-weight: 300;
}
.same h3 span{
    font-size: 16px;
    color: #b2b2b2;
    padding-left: 6px;
}
.same ul{
    width: 1300px;
    overflow: hidden;
    padding-top:10px;
}
.same ul li{
    float: left;
    margin: 0 75px 45px 0;
    width: 348px;
    border: 1px solid #ddd;
    transition: transform .7s;
}
.same ul li:hover{
    transform: translateY(-10px);
}
.same ul li a .img{
    overflow: hidden;
}
.same ul li a .img img{
    width: 100%;
    transition: transform .7s;
}
.same ul li a .img img:hover{
    transform: scale(1.1);
}
.same ul li a p{
    font-size: 16px;
    color: #4c4c4c;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border-top: 1px solid #ddd;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
@media screen and (max-width:1336px){
    .same{
        width: 960px;
    }
    .same ul{
        width: 1000px;
    }
    .same ul li{
        margin: 0 30px 30px 0;
        width: 300px;
    }
}
@media screen and (max-width:960px){
    .Product img{
        margin-top: 60px;
    }
    .same{
        width: 100%;
    }
    .subNav{
        margin-bottom: 30px;
    }
    .same h3{
        font-size: 20px;
    }
    .same h3 span{
        display: block;
        font-size: 14px;
    }
    .same ul{
        width: 100%;
        padding: 10px 10px 0;
        box-sizing: border-box;
    }
    .same ul li{
        width: 100%;
    }
}