@import '../../public/css/main.css';
@import '../../public/css/child-style.css';
.head-ul li:nth-child(3)::after{
    animation: wid .5s linear;
    width: 100%;
}
@keyframes wid {
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}
.Product img{
    display: block;
    width: 100%;
}
.same{
    margin: 0 auto;
    width: 1200px;
}
.subNav{
    margin-bottom: 60px;
    border-bottom: 1px solid #ddd;
}
.subNav ul{
    display: flex;
}
.subNav ul li{
    width: 33.333333333%;
}
.subNav ul li a{
    color: #666;
    font-size: 14px;
    text-align: center;
    line-height: 60px;
}
.subNav ul li a.aft{
    color: #1f3379;
    font-size: 14px;
    text-align: center;
    line-height: 60px;
}
.subNav ul li a::after{
    content: '';
    margin: 0 auto;
    display: block;
    width: 0;
    border-bottom: 3px solid #1f3379;
    transition: all .5s;
}
.subNav ul li a.aft::after{
    content: '';
    display: block;
    width: 100%;
    border-bottom: 3px solid #1f3379;
}
.subNav ul li a:hover{
    color: #1f3379;
}
.subNav ul li a:hover::after{
    width: 100%;
}
.content>.same{overflow: hidden;}
.content>.same .tit{
    float: left;
    font-size: 34px;
    color: #333;
    float: left;
    padding-top: 50px;
   
}
.content>.same .tit h3{
     font-weight: 300;
}
.content>.same .pic{
    float: left;
    width: 340px;
    height: 240px;
    border: 1px solid #ddd;
    margin-left: 70px;
}
.content>.same .pic img{
    width: 100%;
}
.box{
    margin-top: 60px;
    background-color: #f7f7f7;
    padding: 60px 0px;
    font-size: 14px;
    color: #4c4c4c;
    line-height: 38px;
}
.box .top{
    margin-bottom: 50px;
}
.box .top h5,.box .bottom h5{
    font-size: 16px;
    color: #0067da;
    font-weight: 100;
}
.con-but{
    padding: 60px 0 80px;
}
.con-but>.same h3{
    font-size: 28px;
    font-weight: 300;
    color: #333;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}
.con-but>.same p{
    font-size: 16px;
    color: #4c4c4c;
    margin: 30px 0;
}
table tr td{
    padding: 16px;
    background: #f8f8f8;
    color: #4c4c4c;
    font-size: 12px;
   border-bottom: 1px solid #fff;
   border-right: 1px solid #fff;
}
table tr td:first-of-type{
    background-color: #ccc;
}
.eee{
    background-color: #eee !important;
}
.wid{
    width: 250px;
}
.con-but>.same>a{
    display: block;
    height: 60px;
    font-size: 16px;
    color: #262626;
    border: 1px solid #333;
    line-height: 58px;
    text-align: center;
    border-radius: 3px;
    box-sizing: border-box;
    margin-top: 60px;
    transition: all 0.3s linear;
}
.con-but>.same>a:hover{
    background-color: #0067da;
    color: #fff;
    border-color: #0067da;
}
@media screen and (max-width:1336px){
    .same{
        width: 960px;
    }
}
@media screen and (max-width:960px){
    .Product img{
        margin-top: 60px;
    }
    .same{
        width: 100%;
    }
    .subNav{
        margin-bottom: 30px;
    }
    .content>.same{
        padding: 0 10px;
        box-sizing: border-box;
    }
    .content>.same .tit{
        padding-top: 20px;
        width: 100%;
        font-size: 16px;
    }
    .content>.same .pic{
        margin-top: 20px;
        width: 100%;
        margin-left: 0px;
    }
    .content>.same .pic img{
        max-width: 340px;
    }
    .box{
        padding: 20px 10px;
    }
    .con-but{
        padding: 30px 0;
    }
    .con-but .same{
        padding: 0 10px;
        box-sizing: border-box;
    }
    .con-but .same h3{
        font-size: 16px;
    }
    .con-but .same p{
        font-size: 15px;
    }
}